@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}
body::-webkit-scrollbar {
  width: 3px;
}
.hideScrollBar::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track,
.hideScrollBar::-webkit-scrollbar-track {
  @apply bg-sec-100;
}

body::-webkit-scrollbar-thumb,
.hideScrollBar::-webkit-scrollbar-thumb {
  @apply bg-primary-200 rounded-full;
}

.navGrid {
  @apply grid gap-0;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}
.navLink {
  @apply relative max-md:font-[500]  md:h-[6rem] text-sec-300 hover:text-sec-400 px-6 md:px-0 h-full flex items-center justify-start max-md:border-b border-b-sec-300;
}
.navLink.active {
  @apply text-sec-400;
}
.navLink:hover::before {
  @apply w-full;
}
.navLink::before {
  @apply max-md:content-[""] h-full w-0 absolute bg-primary-100 -z-10 top-0 left-0 transition-all duration-1000 ease-out;
}
.navLink::after {
  @apply md:content-[""] w-full h-[2px] bg-primary-200 opacity-0 hover:opacity-100 transitionMe absolute bottom-0 left-0;
}
.navLink.active::after {
  @apply opacity-100;
}
.noBefore::before {
  display: none;
}
.container {
  @apply max-xl:px-4;
}
@media screen and (min-width: 1280px) {
  .container {
    @apply max-w-[1200px];
  }
}

.transitionMe {
  @apply transition-all duration-300;
}

.smOnly {
  @apply md:hidden;
}
.bigOnly {
  @apply max-md:hidden;
}

.navOverlay {
  @apply fixed w-full h-full top-0 left-0 z-[49] bg-primary-100;
}

.section {
  @apply min-h-[calc(100vh-6rem)] pt-10;
}

.btn-primary {
  @apply px-8 py-2 rounded-lg text-white bg-primary-200 font-medium text-base lg:py-3 lg:px-14 lg:text-xl transitionMe;
}
.btn-primary:hover,
.btn:hover {
  box-shadow: 3px 3px 10px 0 hsl(26, 100%, 55%);
  @apply max-md:shadow-none;
}
.btn.clicked,
.btn.clicked:hover {
  box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  /* background-color: hsl(25, 100%, 94%); */
  /* background-color: hsl(26, 100%, 55%); */
  background-color: hsl(26, 100%, 65%);
}
button:disabled {
  @apply cursor-no-drop bg-primary-300 opacity-60 !shadow-none;
}
.sneakerImage::before {
  @apply content-[""] blur-xl opacity-20 w-[90%] absolute left-[55%] -translate-x-1/2 -translate-y-1/2 top-[60%] aspect-square bg-primary-300 rounded-full -z-10;
}

.itemsGrid {
  @apply py-10;
}
.itemsGrid {
  @apply grid gap-14;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 4rem;
}
.sectionHeadline {
  @apply tracking-wider relative mx-auto max-w-[600px] uppercase font-bold text-3xl md:text-4xl text-center my-14;
}

.strokeText {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: hsl(220 13% 13%);
}

.footerGrid {
  @apply grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 30px;
}

footer h3 {
  @apply font-[500] text-xl mb-4 text-primary-100;
}
footer li {
  @apply mb-2;
}
footer li a {
  @apply transitionMe hover:text-primary-100;
}

.popup {
  @apply hidden absolute max-md:hidden text-xs w-max left-1/2 -translate-x-1/2 -top-10 transitionMe font-bold opacity-0 bg-primary-100 px-2 py-2 rounded-md;
}
.popup {
  animation: opacityAnimation 300ms forwards 0.5s ease;
  -webkit-animation: opacityAnimation 300ms forwards 0.5s ease;
}

.opacityAnimation {
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.disabled {
  @apply cursor-no-drop opacity-50 hover:shadow-none;
}

.INCDEC {
  @apply self-end flex items-center mb-4 mr-4 gap-3 ml-auto;
}
.INCDEC > div {
  @apply font-medium text-2xl border border-sec-200 h-fit p-3 rounded-lg;
}
.INCDEC > button {
  @apply bg-primary-200 transitionMe md:opacity-70 p-2 rounded-full;
}
